@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat');

html,body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin : 0px;
  padding : 0px;
}

#root{
  position:relative;
  height: 100%;
  width: 100%;
  padding-top: 56px;

  .enter-chat{
    display: block;
    position:relative;
    height: 100%;
    width: 100%;
  }

  .chat{
    display: block;
    position:relative;
    height: 100%;
    width: 100%;

    .users, .messages{
      padding: 0px;
      float: left;
    }

    .users {

      .user{
        border-bottom : 1px solid #e9ebee;
        padding: 10px;

        .fa-user{
          color :#343a40;
        }
      }
    }

    .messages{
      border-left: 1px solid #e9ebee;
      overflow:auto;

      .message{
        padding: 10px;
        display: block;
        min-height: 50px;
        height : auto !important;
        clear:both;

        .username, .data{
          display: inline-block;
          float:left;
          margin-right: 10px;
        }
      }

      .no-message{
        margin: 10px;
      }
    }

    .chatbox, .gifbox{
      position:fixed;
      bottom: 0px;
      padding: 0px;
    }

    .gifbox{
      height: 200px;
      width : 100%;
      border-left: 1px solid #e9ebee;
      .input-group{
        padding: 0px;
      }

      .gifs{
        height: 160px !important;
        overflow-y : scroll;
        padding: 5px;

        .gif{
          position:relative;
          display: inline-block;
          float:left;
          margin-right: 5px;
          padding-bottom: 5px;

          &:hover{
            .share{
              display: block;
            }
          }

          .share{
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin:auto;
            height: 30px;
            width: 30px;
            font-size: 30px;
            cursor: pointer;
            color:white;
            display: none;
          }
        }

        .searching{
          display: block;
          color:grey;
          font-size: 18px;
        }
      }
    }
  }
}

